@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--violet);
    background-image: url('./images/bg-mobile.svg');
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Open Sans', sans-serif;
}

/* ///////////////////////////// */
/* Logo and illustrations styles */
/* ///////////////////////////// */
.header{
    width: 80%;
    margin: 0 auto;
}

.logo {
    width: 42%;
    max-width: 14rem;
    padding-top: 2rem;
}

.container {
    margin: 0 auto;
}

.illustrations {
    width: 100%;
    /* max-width: 42rem; */
    margin: 0 auto;
    padding: 3.5rem 0;
}

/* ////////////////////// */
/* Text and button styles */
/* ////////////////////// */
.info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.slogan {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(0.8rem, 7vw, 1.5rem); 
}

.paragraph {
    font-size: clamp(0.5rem, 5vw, 1rem); 
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.register-btn {
    font-family: 'Opens sans', sans-serif;
    /* font-size: 0.85rem; */
    font-size: clamp(0.5rem, 5vw, 0.85rem);
    text-decoration: none;
    color: var(--violet);
    background-color: #fff;
    padding: 0.8rem 5.2em;
    border-radius: 2rem;
}

.register-btn:hover, .register-btn:focus {
    background-color: var(--soft-magenta);
    color: #fff;
}

/* ///////////// */
/* Footer styles */
/* ///////////// */
.social {
    display: flex;
    justify-content: center;
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
    gap: 0.6rem;
}

.fab {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
}

.social-link:hover .fab,
.social-link:focus .fab {
    color: var(--soft-magenta);
    border: 1px solid var(--soft-magenta);   
}

.fa-facebook-f {
    padding: 6px 9px;
}

.fa-twitter {
    padding: 6px;
}

.fa-instagram {
    padding: 6px 7px;
}

@media (min-width: 1100px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        position: relative;
        background-size: cover;
    }

    .container {
        display: flex;
    }

    .header {
        padding-left: 4.8rem;
        width: 90%;
    }

    .illustrations {
        /* max-width: 55rem; */
        padding-top: 6.3rem;
    }

    .info {
        text-align: left;
        align-self: center;
        padding-top: 5rem;
        padding-left: 3rem;
        padding-bottom: 1rem;
        padding-right: 2em;
    }

    .slogan {
        /* font-size: 2.5rem; */
        font-size: clamp(2rem, 20vw, 2.5rem);
        max-width: 20ch;
    }

    .paragraph {
        font-size: 1.132rem;
        max-width: 33rem;
    }

    .register-btn {
        padding: 1rem 5.5em;
    }

    .social {
        position: absolute;
        right: 100px;
        bottom: 0;
        gap: 0.8rem;
    }
}

@media(min-width: 1300px) {
    .info {
        padding-top: 0;
    }
}

/* Attribution link styles */
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}